# string

In [1]:
#single word

a='john'
a

'john'

In [2]:
#entire phraes
'this is laptop'

'this is laptop'

In [3]:
#we can also use doble quotes
"iam a student of final year Engineering"

'iam a student of final year Engineering'

In [4]:
#Be carefull with the codes
"'I'm the head of my city"

"'I'm the head of my city"

In [5]:
#we can simply create a string
'hi'

'hi'

In [6]:
#we can't output multiple string thisway
'hi1'
'hi2'

'hi2'

In [7]:
#we can output multiple string thisway
print('hi1')
print('hi2')

hi1
hi2

In [8]:
#To use print function with python3 in python2
from __future__ import print_function
print'hi'

SyntaxError: invalid syntax (<ipython-input-8-c194c09ed5d9>, line 3)

# string basics

In [9]:
len('john')

4

In [10]:
#assign as a string
x='my world'

In [11]:
x

'my world'

In [12]:
print(x)

my world

In [13]:
#show first element
x[0]

'm'

In [14]:
x[1]

'y'

In [15]:
x[2]

' '

In [16]:
x[3]

'w'

In [17]:
#grab everything past to the third term 
x[3:]

'world'

In [18]:
x[:8]

'my world'

In [19]:
x[1:3]

'y '

In [20]:
x[2:6]

' wor'

In [21]:
#note that there is no change to the original x
x

'my world'

In [22]:
# Last letter (one index behind 0 so it loops back around)
x[-1]

'd'

In [23]:
# Grab everything, but go in steps size of 1
x[::1]

'my world'

In [24]:
# Grab everything, but go in step sizes of 2
x[::2]

'm ol'

In [25]:
# We can use this to print a string backwards
x[::-1]

'dlrow ym'

# string properties

In [26]:
x

'my world'

In [27]:
# Let's try to change the first letter to 'm'
x[0] = 'm'

TypeError: 'str' object does not support item assignment

In [28]:
#note that there is no change to the original x
x

'my world'

# concatinate string

In [29]:
x + ' is beautifull'

'my world is beautifull'

In [30]:
s=x+' is beautifull'

In [31]:
s

'my world is beautifull'

In [35]:
#we can use multiplication symbol for repetation
rock='d'

In [36]:
rock*12

'dddddddddddd'

# basic bulit-in funtion

In [37]:
x

'my world'

In [38]:
s

'my world is beautifull'

In [39]:
s.upper()

'MY WORLD IS BEAUTIFULL'

In [40]:
s.lower()

'my world is beautifull'

In [41]:
s.split()

['my', 'world', 'is', 'beautifull']

In [42]:
s.split('y')

['m', ' world is beautifull']

In [43]:
s.split('i')

['my world ', 's beaut', 'full']

# Print formating

In [44]:
'welcome to python:{}'.format({'language'})

"welcome to python:{'language'}"

# location and counting

In [45]:
s.count('e')

1

In [46]:
s

'my world is beautifull'

In [47]:
s.find('i')

9

In [48]:
s.center(70,' ')

'                        my world is beautifull                        '

In [49]:
s.center(70,'w')

'wwwwwwwwwwwwwwwwwwwwwwwwmy world is beautifullwwwwwwwwwwwwwwwwwwwwwwww'

In [50]:
'jupyter\t\tnotebook'.expandtabs()

'jupyter         notebook'

In [51]:
'jupyter\t\tnotebook\t\tfor programming'.expandtabs()

'jupyter         notebook                for programming'

# is check methods

In [52]:
man='Superman power'

In [53]:
man

'Superman power'

In [54]:
man.isalpha()

False

In [55]:
m='supermanpower'
print(m)
m.isalpha()

supermanpower

True

In [56]:
man.isalnum()

False

In [57]:
a='Macine2'
print(a)
a.isalnum()

Macine2

True

In [58]:
man.islower()

False

In [59]:
x=' '
print(x)
x.isspace()

True

In [60]:
man.isupper()

False

In [61]:
man.istitle()

False

In [62]:
x=' et sjkdh'
x
x.isspace()

False

In [63]:
man.isspace()

False

In [64]:
man.endswith('r')

True

# Built-in reg.expressions

In [65]:
man.split('e')

['Sup', 'rman pow', 'r']

In [66]:
man.partition('e')

('Sup', 'e', 'rman power')

In [67]:
man

'Superman power'

# Lists

In [68]:
#assign a list to a variable
my_list=[2,'add','sub',3]
my_list

[2, 'add', 'sub', 3]

In [69]:
len(my_list)

4

# Indexing and Slicing

In [70]:
john=['rock','star',12,'moon']

In [71]:
john

['rock', 'star', 12, 'moon']

In [72]:
john[3]

'moon'

In [73]:
john[2:]

[12, 'moon']

In [74]:
john[:2]

['rock', 'star']

In [75]:
john[::2]

['rock', 12]

In [76]:
john[2::]

[12, 'moon']

In [77]:
john[::-1]

['moon', 12, 'star', 'rock']

In [78]:
john[-1]

'moon'

In [79]:
john[-1::]

['moon']

In [80]:
#concatinate
john+['mul']

['rock', 'star', 12, 'moon', 'mul']

In [81]:
#Reassinging permanently
john=john+['mul']

In [82]:
john

['rock', 'star', 12, 'moon', 'mul']

In [83]:
#make the list doble
john*2

['rock', 'star', 12, 'moon', 'mul', 'rock', 'star', 12, 'moon', 'mul']

In [84]:
#dobling is not permanent
john

['rock', 'star', 12, 'moon', 'mul']

# Basic List Methods

In [85]:
#basic list methods
#create a new list
l=[1,2,3,4]

In [86]:
l

[1, 2, 3, 4]

In [87]:
l.append('numbers')

In [88]:
l

[1, 2, 3, 4, 'numbers']

In [89]:
l.pop(3)

4

In [90]:
l

[1, 2, 3, 'numbers']

In [91]:
# Assign the popped element, remember default popped index is -1
poped_item=l.pop()

In [92]:
poped_item

'numbers'

In [93]:
# Show remaining list
l

[1, 2, 3]

Note that lists indexing will return an error if there is no element at that index. For example:

In [94]:
l[100]

IndexError: list index out of range

In [95]:
list_1=[1,2,3,4,5,11,6,7,8,9]

In [96]:
list_1

[1, 2, 3, 4, 5, 11, 6, 7, 8, 9]

In [97]:
# Use reverse to reverse order (this is permanent!)
list_1.reverse()

In [98]:
list_1

[9, 8, 7, 6, 11, 5, 4, 3, 2, 1]

In [99]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
list_1.sort()

In [100]:
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

# Nesting Lists

In [101]:
list_a=['a','b','c']
list_b=['d','e','g']
list_c=[1,2,3]

flower = [list_a,list_b,list_c]

In [102]:
flower

[['a', 'b', 'c'], ['d', 'e', 'g'], [1, 2, 3]]

In [103]:
# Grab first item in flower object
flower[0]

['a', 'b', 'c']

In [104]:
# Grab first item of the first item in the flower object
flower[1][1]

'e'

In [105]:
flower[2][1]

2

# List Comprehensions

In [106]:
# Build a list comprehension by deconstructing a for loop within a []
first_col=[row[1] for row in flower]

In [107]:
first_col

['b', 'e', 2]

# Advance Lists

In [108]:
lst=['sun','star','moon']

In [109]:
lst

['sun', 'star', 'moon']

# append

In [110]:
lst.append(2)

In [111]:
lst

['sun', 'star', 'moon', 2]

# count

In [112]:
lst.count('sun')

1

# Extend

append: Appends object at end

In [113]:
v=[1,2,3,4]
print(v)
v.append([5,6,7])
print(v)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6, 7]]

extend: extends list by appending elements from the iterable

In [114]:
v=[1,2,3]
v.extend([5,6,7])

In [115]:
v

[1, 2, 3, 5, 6, 7]

# index

In [116]:
print(v)
v.index(5)

[1, 2, 3, 5, 6, 7]

3

In [117]:
v.index(10)

ValueError: 10 is not in list

# insert

In [118]:
v

[1, 2, 3, 5, 6, 7]

In [119]:
v.insert(3,'mr.india')

In [120]:
v

[1, 2, 3, 'mr.india', 5, 6, 7]

# pop

In [121]:
sky=v.pop()

In [122]:
sky

7

In [123]:
v

[1, 2, 3, 'mr.india', 5, 6]

# remove

In [124]:
v

[1, 2, 3, 'mr.india', 5, 6]

In [125]:
v.remove('mr.india')

In [126]:
v

[1, 2, 3, 5, 6]

In [127]:
v.remove(2)

In [128]:
v

[1, 3, 5, 6]

# reverse

In [129]:
v.reverse()

In [130]:
v

[6, 5, 3, 1]

# sort

In [131]:
x=[6.,8,3,9,10,]
x.sort()

In [132]:
x

[3, 6.0, 8, 9, 10]